AllowStreamLocalForwarding no
AllowTcpForwarding no
AllowUsers passworld
ChallengeResponseAuthentication no
ClientAliveCountMax 0
ClientAliveInterval 60
GatewayPorts no
HostKey /root/.ssh/id_ed25519
MaxAuthTries 3
PermitRootLogin no
PermitTunnel no
Protocol 2
PubkeyAuthentication yes
